page-ocorrencia {
  #map {
      height: 25px;
      width: 30px;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #222;
  }
  .toolbar-title-md {
    color: #FFFFFF;
  }


}


