page-ocorrencia {
  #map {
      height: 25px;
      width: 30px;
  }
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #990000;
  }
  .toolbar-md{
    width: 100px;
  }
  .toolbar-title-md {
    color: #FFFFFF;
  }
}
.style-nav {
  justify-content: center;
  align-items: center;
}
.titleicon {
  align-content: center;
  align-items: center;
  float: left;
}
.style-title {
  text-align: left;
  padding: 4px;
  margin-top: 2%;


}


