#map {
    height: 100%;
    width: 100%;
}
div#menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    

}
	div#topo{
		margin: 0;

    }	
    
    ion-card-content.card-content.card-content-md {
        background-color: black;
    }   
    ion-header {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
        background: #222222;
        color: white;
      }
      .button-clear-md-dark {
        border-color: transparent;
        color: #ffffff;
        background-color: transparent;
        font-size: 13px;
      }
      .button-clear-md-dark.activated {
        background-color: rgba(158, 158, 158, 0.2);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      
      .button-clear-md-dark:hover:not(.disable-hover) {
        color: #fff;
      }

    