page-irregularities {
  .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #990000;
    width: 35%;
  }
}
