page-irregularities {
  .button-md {
    border-radius: 2px;
    overflow: hidden;
    height: 3.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background-color: #990000;
    width: 35%;
  }
}
  .style-nav {
    justify-content: center;
    align-items: center;
  }
  .titleicon {
    align-content: center;
    align-items: center;
}
.style-title {
 
    text-align: right;
    margin-top: 2%;
}

