page-register2 {
    .bg-image{
        background-image:url('../assets/img/background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
        .nome-container{
            position: absolute;
            z-index: 2;
            top:0;
            width: 100%;
            margin: 0 auto;
            padding: 10vw;
            text-align: center;
            color:#ffff;
        }

    };
