page-irregularities-card {

}
.style-nav {
    justify-content: center;
    align-items: center;
  }
.titleicon {
    align-content: center;
    align-items: center;
    float: left;
    margin-left: 2%;
}
.style-title {
    text-align: left;
    padding: 4px;
    margin-left: 2%;
    margin-top: 2%;

  
}
